Gemfile.lock
.gemrc
.gem
.env
.env.*
!.env.example
*.gem
.go
env.tar

# Terraform ignores
.terraform
*.tfvars
*.tfvars*
*.tfplan
*.tfplan*
*.tfstate
*.tfstate*
*.tfplan.json

# Version ignores
version
lib/resume_app/version.rb

# Testing ignores
public/
