[
  {
    "name": "${container_name}", 
    "image": "carlosnunez/resume_app:${app_version}", 
    "networkMode": "awsvpc",
    "portMappings": [
      {
        "containerPort": ${container_port}, 
        "hostPort": ${container_port}, 
        "protocol": "tcp"
      }
    ],
    "essential": true, 
    "environment": [
      {
        "name": "S3_BUCKET_NAME", 
        "value": "${s3_bucket_name}"
      },
      {
        "name": "RESUME_NAME",
        "value": "${resume_name}"
      },
      {
        "name": "AWS_ACCESS_KEY_ID",
        "value": "${aws_access_key_id}"
      },
      {
        "name": "AWS_SECRET_ACCESS_KEY",
        "value": "${aws_secret_access_key}"
      },
      {
        "name": "AWS_REGION",
        "value": "${aws_region}"
      }
    ], 
    "readonlyRootFilesystem": true, 
    "logConfiguration": {
      "logDriver": "awslogs", 
      "options": {
        "awslogs-region": "${logs_region}",
        "awslogs-group": "${logs_name}-${environment}",
        "awslogs-stream-prefix": "resume-app"
      }
    }
  }
] 
