[
  {
    "name": "${container_name}", 
    "image": "carlosonunez/resume_app:${app_version}", 
    "portMappings": [
      {
        "containerPort": ${container_port}, 
        "hostPort": 80, 
        "protocol": "tcp"
      }
    ],
    "essential": true, 
    "environment": [
      {
        "name": "S3_BUCKET_NAME", 
        "value": "${s3_bucket_name}"
      },
      {
        "name": "RESUME_NAME",
        "value": "${resume_name}"
      }
    ], 
    "readonlyRootFilesystem": true, 
    "logConfiguration": {
      "logDriver": "awslogs", 
      "options": {
        "KeyName": ""
      }
    }
  }
] 
